<nav class="liste_nav_lien">
    <ul class="liste_ul">
        <li class="liste_li"><a href="{{ path('recette_liste') }}"><i class="fa-solid fa-house"></i>Liste des recette</a></li>
        <li class="liste_li"><a href='{{ path('recette_ajout') }}'><i class="fa-solid fa-plus"></i>Ajouter une recette</a></li>
    </ul>
</nav>